.DS_Store
build/
.idea
.gradle
local.properties
*.iml
npm-debug.log
yarn-error.log
node_modules
boilerplate/node_modules
boilerplate/vendor/bundle/
boilerplate/ios/Pods
boilerplate/ios/build
boilerplate/android/app/.cxx
boilerplate/android/app/build
boilerplate/android/build
boilerplate/android/.gradle
boilerplate/android/.idea
documentation
.github